
     <div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <h1 class="text-center main-heading">About Us</h1>
                    <p class="text-center sub-heading">grow your business with us</p>
                  
                     <div class="col-md-6 col-12 hero-text ">
                         <figure>
                             <img src="images/about.svg" alt="growth images">
                         </figure>
                     </div>

                       <div class="col-md-6 col-12 hero-text" >
                        <h1>WE ARE PROFESSIONAL THE DEVELOPER</h1>
                        <p>You may also utilize dropdowns in your navbar nav. Dropdown menus require a wrapping element for positioning, so be sure to use separate and nested elements for .nav-item and .nav-link as shown below.</p>
                        <button class="btn-style btn-success">Read more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

